.user {
    text-align: center;
}
.bang{
    padding: 4%;
}
.cot {
    text-align: center;
}

.xoa {
    text-align: center;
}

.sua {
    margin-left: 5%;
}

.them input {
    width: 100%;
}
.striped{
    margin-top: 1%;
}